<div class="${baseClass}">
    <div>
        <main>
  
            <input id="ID_Tab_Filter" type="radio" name="tabs-2" checked>
            <label for="ID_Tab_Filter">Filtro</label>
              
            <input id="ID_Tab_Diagnosis" type="radio" name="tabs-2">
            <label for="ID_Tab_Diagnosis">Resultado</label>
              
            <input id="ID_Tab_Analysis" type="radio" name="tabs-2">
            <label for="ID_Tab_Analysis">Análisis</label>
            
            <section id="content1">
                <div class="tab-content">
                    <label class="subTitle">» Seleccionar Ámbito</label>
                    <hr>               
                    <!-- Departamento -->
                    <div data-dojo-attach-point="ID_HDRM"></div>
                    <!--
                    <div class="form-filter">
                        <div>
                            <label for="ID_Departamento" class="form-label">
                                Departamento
                            </label>
                        </div>
                        <select id="ID_Departamento">
                            <option value="">Seleccione Departamento</option>
                        </select>    
                    </div>
                    
                    <div class="form-filter">
                        <div>
                            <label for="ID_Provincia" class="form-label">
                                Provincia
                            </label>
                        </div>
                        <select id="ID_Provincia">
                            <option value="">Elija Departamento</option>
                        </select>
                    </div>
                    
                    <div class="form-filter">
                        <div>
                            <label for="ID_Distrito" class="form-label" style=" text-align: right">Distrito</label>
                        </div>
                        <select id="ID_Distrito">
                            <option value="">Elija Provincia</option>
                        </select>
                    </div>
                    
                    <hr style="margin-top: 0;">
                    -->

                    <div class="form-alert" data-dojo-attach-point="ID_Alert">
                        <strong>Advertencia! </strong> Seleccione Departamento
                    </div>
                    <br>
                    <div class="form-filter action-btn">
                        <button type="button" class="btn-float" data-dojo-attach-point="ID_Clear">
                            <i class="fa fa-eraser" aria-hidden="true"></i>
                            Limpiar
                        </button>
                        <button type="button" data-dojo-attach-point="ID_Report">
                            <i class="fa fa-file-text" aria-hidden="true"></i>
                            Reporte
                        </button>  
                        <button type="button" data-dojo-attach-point="ID_Diagnosis">
                            <i class="fa fa-search" aria-hidden="true"></i>
                            Diagnóstico
                        </button>                        
                    </div>
                </div>
            </section>
              
            <section id="content2">
                <div class="tab-content">
                    <div class="form-count">
                        <div class="form-count-count" data-dojo-attach-point="ID_Count">0</div>
                        <div class="form-count-title">Coincidencia(s) de registro(s)</div>
                        <div class="form-count-title" data-dojo-attach-point="ID_CountText"></div>
                        <!-- <div class="form-count-resul" data-dojo-attach-point="ID_CountResult">0 - 0</div>  -->
                    </div>
                    <div class="form-count">
                        <label class="subTitle">Resumen de Diagnóstico:</label>
                    </div>
                    <!-- CSS Load -->
                    <div class="lds-facebook" data-dojo-attach-point="ID_Load"><div></div><div></div><div></div></div>
                    
                    <div class="form-scroll" data-dojo-attach-point="ID_Table_Count" id="ID_Table_Count"></div>

                    <div class="load-time" data-dojo-attach-point="ID_Percentage"></div>

                    <div class="form-result-button">
                        <button type="button" class="btn-float" data-dojo-attach-point="ID_Analisis">
                            <i class="fa fa-reorder" aria-hidden="true"></i>
                            Análisis
                        </button>
                        <span>
                            <select>
                                <option value="">XLS</option>
                                <option value="">CSV</option>
                                <option value="">JSON</option>
                                <option value="">SHP (.zip)</option>
                                <option value="">KMZ</option>
                                <option value="">GeoJSON</option>
                                <option value="">WKT</option>
                            </select>  
                            <button type="button" data-dojo-attach-point="ID_Download_Result">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Descargar
                            </button>    
                        </span>                    
                    </div>

                </div>
            </section>
              
            <section id="content3">
                <div class="tab-content">
                    
                    <div class="form-Analysis buffer">
                        <p class="analysis-text">Distancia de zona de influencia</p>
                        <input type="number" value="1" placeholder="##" min="1" max="30" data-dojo-attach-point="ID_Buffer">    
                        <p class="analysis-unit">Metro(s)</p>
                        <button type="button" data-dojo-attach-point="ID_Button_Buffer">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                            Actualizar
                        </button> 
                        
                        <div class="leyend" style="display: none;">
                            <div>Red Ferroviaria</div>
                            <div>Red Víal</div>
                        </div>
                    </div>
                    <!-- CSS Load -->
                    <div class="lds-facebook" data-dojo-attach-point="ID_Load_Buffer"><div></div><div></div><div></div></div>
                    <!-- Table Analysis -->
                    <div data-dojo-attach-point="ID_Table_Analysis"></div>

                    <div class="form-Analysis">
                        <!-- SubTitle -->
                        <label class="subTitle">Resumen de Análisis:</label>
                    </div>
                    
                    <div class="form-scroll" data-dojo-attach-point="ID_Table_Report"></div>

                    <!--
                    <div class="form-content">
                        <label class="subTitle">Lista de Análisis</label>
                        
                        <select id="ID_Formato_">
                            <option value="">Formato</option>
                        </select>                        
                    </div>
                    -->
                    
                    <!--
                    <div class="form-result form-scroll" data-dojo-attach-point="ID_Result_List">
                        <div class="form-card">
                            <span class="form-item">
                                <label>1. Planes PPRRD</label>
                                <span><i class="fa fa-map" aria-hidden="true"></i></span>
                            </span>
                            <div class="form-item">
                                <div class="form-item-content">
                                    <label>Campo 1</label>
                                    <span><p> Detalle 1 Detalle 1 Detalle 1 Detalle 1 Detalle 1 Detalle 1 Detalle 1 Detalle 1 Detalle 1 Detalle 1</p></span>
                                </div>
                            </div>
                        </div> 
                    </div>
                    -->

                    <div class="form-result-button">
                        <span>
                            <select>
                                <option value="">XLS</option>
                                <option value="">CSV</option>
                                <option value="">JSON</option>
                                <option value="">SHP (.zip)</option>
                                <option value="">KMZ</option>
                                <option value="">GeoJSON</option>
                                <option value="">WKT</option>
                            </select>  
                            <button type="button">
                                <i class="fa fa-download" aria-hidden="true"></i>
                                Descargar
                            </button>    
                        </span>                    
                    </div>

                </div>
            
            </section>
        </main>
        
        

    </div>
</div>