html, body { font-family: "Helvetica","Arial",sans-serif; }
html, body, header { margin: 0; padding: 0; }
.map {
  box-sizing: border-box;
  position: relative;
  height: 90px;
  width: 100%;
}
body { background-color: #f6f6f6; position: relative;}
.report-main .report-aside label.report-title-resumen {
  color: rgb(102, 100, 100);
  font-size: 13px;
  font-weight: bold;
  padding-bottom: 10px !important;  
}
.report-main {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  width: 1200px;
  position: relative;
}
.report-main .report-title {
  background-color: #23545e;
  color: #FFFFFF;
  height: 45px;
  margin-bottom: 10px;
  padding: 5px 15px 0px 15px;
}
.report-main .report-title h2 {
  font-size: 13px;
}
.report-main .report-subtitle {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.4);
}
.report-main main section .report-content {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}
/* CONTENT */
.report-main main section .report-content > .report-aside {
  box-sizing: border-box;
  width: 50%;
}
.report-main .report-content .report-aside {
  box-sizing: border-box;
  vertical-align: top;
  display: inline-block !important;
  width: 49.5%;
}
/* SUMMARY */
/*
.tbl {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}
.tbl, 
.tbl td, 
.tbl th {
  border: 1px solid #FFFFFF !important;
  padding: 5px 10px;
  font-size: 12px !important;
}
.tbl thead {
  background-color: #2c6975;
  color: #FFFFFF;
}
.tbl thead tr > th {
  padding: 5px;
  font-size: 13px;
}
.tbl tbody tr > td:nth-child(1) {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
  text-align: right;    
  width: 5%;
}
.tbl tbody tr > td:nth-child(2) {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
  width: 650%;
}
.tbl tbody tr > td:nth-child(3) {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
  text-align: right;    
  width: 30%;
}
.tbl tfoot tr {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
}*/

.tbl {
  border-collapse: collapse;
  border: 1px solid #555555;;
  font-size: 13px;
  width: 100%;
  color: #2a2929;
}
.tbl, 
.tbl td, 
.tbl th {

  padding: 8px 10px;
  font-size: 12px !important;
}
.tbl thead {
  background-color: #555555;
  color: #FFFFFF !important;
}
.tbl thead tr > th {
  padding: 10px 5px;
  text-transform: uppercase;
}
.tbl tbody tr > td:nth-child(1) {
  text-align: right;
  padding-right: 0px;
  /*padding-left: px;*/
  width: 5%;
  /*font-weight: 780;*/
}
.tbl tbody tr > td:nth-child(2) {
  width: 65%;
  padding-right: 0px;
}
.tbl tbody tr > td:nth-child(3) {
  text-align: right;
  padding-left: 0px;   
  width: 25%;
}
.tbl>tbody>tr>td,
.tbl>tbody>tr>th,
.tbl>tfoot>tr>td,
.tbl>tfoot>tr>th,
.tbl>thead>tr>td,
.tbl>thead>tr>th {
  border-top: 1px solid #ddd;
}
/* Feature Table - SHOW */
.esri-feature-table {
  font-family: verdana;
  font-size: 12px;
  margin-top: 10px;
  height: 250px;
  width: 100% !important;
}
.esri-feature-table .dgrid-row-odd,
.esri-feature-table .dgrid-row-even {
  background-color: #FFFFFF;
  border-bottom: 1px solid #ccc;
}
.esri-feature-table-column-header-title{
  font-weight: 800;
}
.report-main .report-table {
  position: relative;
  width: 100% !important;
  padding: 0;
  /*box-sizing: border-box;*/
}
/************************/
/* Animación de carga */
.report-main .lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  display: none;
  margin: 20px auto 20px auto;
}
.report-main .lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background-color: rgba(0,0,0,0.4);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.report-main .lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.report-main .lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.report-main .lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.report-main main {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}
.report-main main section {
  display: none;   
}
.report-main main input {
  display: none;
}

.report-main main label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}
.report-main main label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}
/*
.report-main main label[for*='1']:before {
  content: '\f080';
}
.report-main main label[for*='2']:before {
  content: '\f080';
}
.report-main main label[for*='3']:before {
  content: '\f080';
}*/
.report-main main label:hover {
  color: #888;
  cursor: pointer;
}
input.tabs-horiz:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid #D68910;
  border-bottom: 1px solid #fff;
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}
@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
/**** Pagination */
.pagination {  
  display: inline-block;  
}
.pagination a {
  color: black;
  float: left;
  padding: 7px 14px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 4px;
}
.pagination a:first-child,
.pagination a:last-child {
  border-radius: 25% !important;
  font-weight: bold;
}
.pagination a.active {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
/*
.report-pagination div {
  display: inline-block;
  
  margin-top: 10px;
  vertical-align: top;
  box-sizing: border-box;
}
.report-pagination div:first-child {
  padding: 7px 0;
  font-size: 13px;
}
.report-pagination div:last-child {
  float: right;
  font-size: 12px;
}
*/

.tabs { 
  position: relative;
  width: 100%;
  height: 610px;
  padding: 0px;
  /*background-color: #F5F5F5;*/
  margin-top: 10px;
  overflow: hidden;
}
.tabs .tab-header {
  float:  left;
  width: 210px;
  height: 100%;
  border-right: 1px solid #ccc;
  padding: 0px 0px 5px;
}
.tabs .tab-header > div {
  /*background-color: rgba(246,246,246);*/
  background-color: #F6F6F6;
  border-top: 4px solid rgba(205,224,201,0.0);
  color: #555555;
  color: #181818;
  cursor: pointer;
  font-size: 13px;
  padding: 8px 10px;
}
.tabs .tab-header .header-group
{
  background-color: #2c6975 !important;
  border-top: 0px solid #2c6975 !important;
  /*color: #ffa500 !important;*/
  color: #FFFFFF !important;
  font-weight: 780 !important;
  cursor: default;
  padding: 15px 10px;  
}
.tabs .tab-header > div:hover,
.tabs .tab-header > div.active {
  color: #0a2605;
  background-color: #CDE0C9;  
  border-top: 4px solid #D68910;
}
.tabs .tab-header div i {
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}
.tabs .tab-content {
  color: #2A2929;
  background-color: rgba(246,246,246,0);
  position: relative;
  height: 100%;
  overflow: hidden;  
}
.tabs .tab-header > div > i {
  border-radius: 50px;
  background-color: #555;
  color: #F5F5F5;
  display: inline-block;
  height: 50px;
  font-size: 25px;
  text-align: center;
  line-height: 50px;
  width: 50px;
}
.tabs .tab-content > div {
  position: absolute;
  text-align: center;
  padding: 5px 0px;
  top: -200%;
  transition: all 500ms ease-in-out;
}
.tabs .tab-content > div.active {
  top: 0px;
}
.tabs .tab-indicator {
  position: absolute;
  width: 4px;
  height: 50px;
  background-color: #00aaee;
  left: 198px;
  top: 80px;
  transition: all 500ms ease-in-out;
}
.tabs .tab-content .div-hr {
  border-bottom: 2px solid #23545E;
  margin: 10px  auto 0px auto;
  width: 100px;
  text-align: center;
}
/*****************/
.tabs .form-scroll {  
  box-sizing: border-box;
  overflow-y: scroll;
}
.tabs .form-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
}
.tabs .form-scroll::-webkit-scrollbar:vertical {
  width:10px;
}
.tabs .form-scroll::-webkit-scrollbar-button:increment,
.tabs .form-scroll::-webkit-scrollbar-button {
  display: none;
} 
.tabs .form-scroll::-webkit-scrollbar:horizontal {
  height: 10px;
}
.tabs .form-scroll::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.tabs .form-scroll::-webkit-scrollbar-track {
  border-radius: 10px;  
}
/**********************************************/
.popup-alert {
  position: fixed;
  z-index: 40000;
  color: #ddd;
  background-color: rgba(0,0,0,0.8);
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: none;
}
.popup-alert .popup-message {
  background-color: white;
  box-sizing: border-box; 
  margin: 0 auto;
  margin-top: 20%;
  height: 195px;
  width: 560px;
}
.popup-alert .popup-message div.popup-text {
  color: #856404;
  display: inline-block;
  font-family:'Times New Roman', Times, serif;  
  vertical-align: top;  
}
.popup-alert .popup-message div.popup-text h1 { 
  border-bottom: 2px solid #856404;
  padding: 0px 5px 5px 5px;
}
.popup-alert .popup-message div.popup-text:nth-child(1) {
  background-image: url("../images/message-100.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100% !important;
  width: 39%;
}
.popup-alert .popup-message div.popup-text:nth-child(2) {
  background-color: #fff3cd;
  box-sizing: border-box;
  border-color: #ffeeba;
  height: 100% !important;
  padding: 0px 20px;  
  width: 60%;
}
.form-scroll-resumen {
  max-height: 220px;
  overflow-y: scroll;  
  border: 1px solid #aaa;    
  margin-top: 5px;
  overflow: auto;
  box-sizing: border-box;
}
.form-scroll-resumen::-webkit-scrollbar {
  -webkit-appearance: none;
}
.form-scroll-resumen::-webkit-scrollbar:vertical {
  width:10px;
}
.form-scroll-resumen::-webkit-scrollbar-button:increment,
.form-scroll-resumen::-webkit-scrollbar-button {
  display: none;
} 
.form-scroll-resumen::-webkit-scrollbar:horizontal {
  height: 10px;
}
.form-scroll-resumen::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.form-scroll-resumen::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.form-scroll-tab {
  max-height: 370px;
  overflow-y: scroll;  
  border-bottom: 1px solid #AAAAAA;
  border-right: 1px solid #AAAAAA;
  border-top: 1px solid #AAAAAA;
  overflow: auto;
  box-sizing: border-box;
}
.form-scroll-tab::-webkit-scrollbar {
  -webkit-appearance: none;
}
.form-scroll-tab::-webkit-scrollbar:vertical {
  width:10px;
}
.form-scroll-tab::-webkit-scrollbar-button:increment,
.form-scroll-tab::-webkit-scrollbar-button {
  display: none;
} 
.form-scroll-tab::-webkit-scrollbar:horizontal {
  height: 10px;
}
.form-scroll-tab::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}
.form-scroll-tab::-webkit-scrollbar-track {
  border-radius: 10px;  
}

.column_01,
.column_02 {
  margin: 15px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.column_01 {
  text-align: left;
  position: relative;
  width: 60%;
  height: 555px;
}
.column_02 {
  width: 33%;
}
.column_02 img {
  width: 100%;
}
.column_01 p.sect-nota-info {
  font-size : 14px;
  line-height : 1.4;
  text-align: justify;
  background-color : #d9edf7;
  border-color : #bce8f1;
  color : #31708f;
  padding : 5px 10px 10px 10px;
  margin : 0px 0px 5px 0px;
}
.column_01 p.sect-nota-warning {
  font-size : 14px;
  line-height : 1.4;
  text-align: justify;
  background-color : #fff3cd;
  border-color : #fff3cd;
  color : #856404;
  padding : 10px;
  margin : 0px 0px 15px 0px;
}
.column_01 p.sect-detalle,
.column_02 p.sect-detalle {
  font-size : 14px;
  text-align: justify;
  padding : 0px 5px;
  margin : 10px 0px;
  border-left : 3px solid #555555;
}
.column_01 p.sect-nota,
.column_02 p.sect-nota {
  font-size : 14px;
  text-align: justify;
  padding : 0px 5px 0px 5px;
  margin : 10px 0px;
  border-left : 3px solid #555555;
}
.column_01 p.sect-fuente,
.column_02 p.sect-fuente {
  /*background-color: #FFF9C4;*/
  font-size : 14px;
  padding : 5px;
  margin : 5px 0px 0px 0px !important;
  bottom: 0;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  text-align: justify;
  position: absolute;
}
.report-main button.accordion {
  background-image: url("../images/sigrid.png");
  background-repeat: no-repeat;
  background-size: auto 50px;
  background-position: 25px 2px;
}
.report-main div.accordion {
  background-image: url("../images/cenepred.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 50px;
  height: 54px;
}
/* ACORDEON */
.report-main div.accordion,
.report-main button.accordion {
  box-sizing: border-box;
  background-color: #2c6975;
  border: none;
  color: #FFFFFF !important;
  font-weight: 780 !important;
  cursor: pointer;
  padding: 20px 10px 10px 10px;  
  /*text-align: left;*/
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  width: 100%;
}
.report-main button.active, .accordion:hover {
  background-color: #23545e;
}
.report-main button.accordion:after {
  content: '\002B';
  color: #FFFFFF;
  font-weight: bold;
  float: right;
  margin-top: -5px;
  font-size: 25px;
  padding-top: -20px !important;
}
.report-main button.active:after {
  content: "\2212";
}
.report-main div.panel {
  background-color: white;
  /* display: -ms-flex;
  display: -webkit-flex;
  display: flex; */
  border-bottom: 3px solid #23545E;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.report-main div.panel > .column {
  
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
.report-main div.panel .column:first-child {
  width: 44.5%;
}
.report-main div.panel .column:last-child {
  width: 54.5%;
}

/* /ACORDEON */

a:link, a:visited, a:active {
  text-decoration:none;
}
a:hover {
  text-decoration:none !important;
}
/***/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  margin-left: 50% !important;
  text-align: center !important;
  height: 60px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: rgba(0,0,0,0.4);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* Export DATA EXCEL */
.report-main .row-excel {
  margin-top: 10px;
  height: 45px;
}
.report-main .row-excel .btn-excel {
  border-radius: 0;
  border: 0;
  background-color: #2c6975;
  color: white;
  cursor: pointer;
  float: right;
  font-size: 12px;
  height: 35px;
  /*width: 190px;*/
}
.report-main .row-excel .btn-excel:hover {
  color: #0a2605;
  background-color: #CDE0C9;  
  border-top: 4px solid #D68910;
  font-weight: 700;
  /*width: 200px;*/
}
.report-main .row-excel table#ID_BTN_EXCEL_TB{
  display: none;
}
.report-main .row-excel label[for=Button_ID_Diagnosis_Format] {
  display: none;
}
.report-main .row-excel input { 
  border-radius: 0;
  border: 1px solid rgba(0,0,0,0.3);
  height: 23px;
  width: 50px;
}
.claro .dijitComboBox .dijitArrowButtonInner {
  border: 0px solid #ffffff;
}
.dijitSelect input.dijitInputField, 
.dijitTextBox input.dijitInputField {
  padding-bottom: 13px !important;
  padding-right: 0 !important;
}
.claro .dijitButton .dijitButtonNode, 
.claro .dijitDropDownButton .dijitButtonNode,
.claro .dijitComboButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
  border: 0px solid #759dc0;
  padding: 12px 8px 8px 8px;
  color: white;
  background-color: #2c6975;
  font-size: 12px;
  border-radius: 0;
  background-image: none;
}

.report-main .column_02 label {
  display: none;
}
/*
.report-main .column_02 .row-excel,
.report-main .row-excel #ID_Diagnosis_Format {
  display: none;
}
*/
.labelsAndValues-labelCell {
  display: none !important;
}
