html, body { font-family: "Helvetica","Arial",sans-serif; }
html, body, header { margin: 0; padding: 0; }
.map {
  box-sizing: border-box;
  position: relative;
  height: 150px;
  width: 100%;
}

body { background-color: #f6f6f6; }

.report-main {
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 10px;
  width: 1200px;
  position: relative;
}
.report-main .report-title{
  background-color: #4999b0;
  color: #FFFFFF;
  padding: 7px 15px;
  margin-bottom: 15px;
}
.report-main .report-title h2 {
  font-size: 16px;
}
.report-main .report-subtitle {
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
  color: rgba(0,0,0,0.4);
}
.report-main main section .report-content {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 10px;
}

/* CONTENT */
.report-main main section .report-content > .report-aside {
  box-sizing: border-box;
  width: 50%;
}

/* SUMMARY */
.tbl {
  border-collapse: collapse;
  font-size: 13px;
  width: 100%;
}
.tbl, 
.tbl td, 
.tbl th {
  border: 1px solid #FFFFFF !important;
  padding: 5px 10px;
}
.tbl thead {
  background-color: rgba(0,0,0,0.4);
  color: #FFFFFF;
}
.tbl thead tr > th {
  padding: 5px;
  font-size: 13px;
}
.tbl tbody tr > td:nth-child(1) {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
  text-align: right;    
  width: 5%;
}
.tbl tbody tr > td:nth-child(2) {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
  width: 650%;
}
.tbl tbody tr > td:nth-child(3) {
  background-color: rgba(0,0,0,0.1);
  color: #555555;
  text-align: right;    
  width: 30%;
}
/* Feature Table - SHOW */
.esri-feature-table {
  font-family: verdana;
  font-size: 12px;
  height: 450px;
  width: 100%;
}

.report-table {
  display: block;
  position: relative;
  z-index: 2000;
}

/************************/



main {
  width: 100%;
  margin: 0 auto;
  background: #fff;
}

main section {
  display: none;
  
  
}

input {
  display: none;
}

main label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 10px 20px;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

main label:before {
  font-family: fontawesome;
  font-weight: normal;
  margin-right: 10px;
}

main label[for*='1']:before {
  content: '\f080';
}

main label[for*='2']:before {
  content: '\f080';
}

main label[for*='3']:before {
  content: '\f080';
}

main label:hover {
  color: #888;
  cursor: pointer;
}

input.tabs:checked + label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}

/**** Pagination */
.pagination {
  
  display: inline-block;
  
}

.pagination a {
  color: black;
  float: left;
  padding: 7px 14px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 4px;
}

.pagination a:first-child,
.pagination a:last-child {
  border-radius: 25% !important;
  font-weight: bold;
}

.pagination a.active {
  background-color: #e5e5e5;
  border: 1px solid #e5e5e5;
}
.report-pagination div {
  display: inline-block;
  
  margin-top: 10px;
  vertical-align: top;
  box-sizing: border-box;
}

.report-pagination div:first-child {
  padding: 7px 0;
  font-size: 13px;
}
.report-pagination div:last-child {
  float: right;
  font-size: 12px;
}